{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/Purple_circle_100%25.svg/1024px-Purple_circle_100%25.svg.png" />
      <title>{{ TITLE }} / {{ page_title }}</title>
      <!-- stylesheet -->
      <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
      <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
      {% block stylesheet %}{% endblock %}
      <script type="text/javascript" src="//platform.linkedin.com/in.js">
        api_key:   81fvma8kraefda
        onLoad:    onLinkedInLoad
        authorize: true
        lang:      en_US
      </script>
  </head>
  <body>
      <header>
          {% include "web/partials/header.html" %}
      </header>
      <content>
          {% block content %}
                  <!-- content goes here -->
          {% endblock %}
      </content>
      {% if footer %}
      <footer>
          {% block footer %}
          {% include "web/partials/footer.html" %}
          {% endblock %}
      </footer>
      {% endif %}
      <!-- javascript -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
      <script type="application/javascript" src="{% static 'js/base.js' %}"></script>
      {% block script %}{% endblock %}
  </body>
</html>
