<link rel="stylesheet" href="../../../static/css/base.css">{% load static %}
<nav class="header">
  <div class="navbar-base">
    <!--LOGO-->
    <div class="navbar-left">
      <div class="logo">
        <a class="logo-text" href="{% url 'web:dashboard' %}"> Leungit </a>
      </div>
    </div>
    <!--ACCOUNT-->
    <div class="navbar-right">
      <div class="account">
        <div class="menu-dropdown">
          {% if user_login %}
          <div id="btn-user">
            {% if user_login.picture_url %}
              <img src="{{ user_login.picture_url }}">
            {% else %}
              <img src="{% static 'img/boss.png' %}">
            {% endif %}
          </div>
          <div id="menu-account" class="menu-content">
            <span class="arrow-up"></span>
            <div class="square">
              <!--logged in-->
              <div id="content-about" class="content">
                <h4 class="username"> {{ user_login.username }} </h4>
                <span class="name"> {{ user_login.full_name }} </span>
              </div>
              <a class="content" href="{% url 'auth:logout' %}"> Logout </a>
            </div>
          </div>
          {% else %}
          <button id="btn-login"> Masuk </button>
          <div id="menu-login" class="menu-content">
            <span class="arrow-up"></span>
            <div class="square">
              <!--logged in-->
              <div>
                <form id="form" method="POST" action="{% url 'auth:login' %}">
                  {% if messages %}
                  <div class="messages">
                    {% for message in messages %}
                    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                    {% endfor %}
                  </div>
                  {% endif %}
                  {% csrf_token %}
                  {{ login_form }}
                  <br>
                  <div class="center">
                    <button id="submit" type="submit" class="" value="Submit"> Masuk </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>
