{% extends "web/layout/base.html" %}
{% load static %}
{% block content %}
<section>
  <div id="dashboard" class="dashboard">
    <div class="section-profile">
      <div class="profile bottom-space">
        <span class="img-cover"></span>
        <div class="about">
          <div class="user-dp">
            {% if user_login.picture_url %}
            <img src="{{ user_login.picture_url }}">
            {% else %}
            <img src="{% static 'img/boss.png' %}">
            {% endif %}
          </div>
          <div class="user">
            <h3 class="username"> {{ user_login.username }} </h3>
            <span class="name"> {{ user_login.full_name }} </span>
          </div>
        </div>
        <div class="stats">
          <div id="stats-status" class="stat-content">
            <h4 class="title"> Status </h4>
            <span id="stat-status-number" class="content"> {{ number_of_status }} </span>
          </div>
          <div id="stats-friends" class="stat-content">
            <h4 class="title"> Friends </h4>
            <span class="content"> {{ number_of_friend }} </span>
          </div>
        </div>
      </div>
      <div class="forum bottom-space">
        <!--button-->
        <button href=""> Lihat Forum </button>
      </div>
      <div class="latest bottom-space">
        {% if latest_status %}
        <h4 class="head"> Status Terakhir </h4>
        <div class="content">
          <!--content-->
          <p id="latest-status-content">{{ latest_status.content }}</p>
        </div>
        {% else %}
        <h3><i class="head"> Belum ada Status. </i></h3>
        {% endif %}
      </div>
    </div>
    <div id="section-activity-1" class="section-activity">
      <!-- TAB -->
      <div id="activity-tab" class="activity-tab">
        <button id="tab-button-profile" class="tab-button tab-button-active" onclick="openTab(event, 'tab-profile')"> Profile </button>
        <button id="tab-button-riwayat" class="tab-button" onclick="openTab(event, 'tab-riwayat')"> Riwayat </button>
        <button id="tab-button-status" class="tab-button" onclick="openTab(event, 'tab-status')"> Status </button>
        <button id="tab-button-friend" class="tab-button" onclick="openTab(event, 'tab-friend')"> Teman </button>
      </div>
      <!-- TODO ISI DARI TIAP TAB -->
      <div id="tab-status" class="tab-content">
        {% include 'status/timeline.html' %}
      </div>
      <div id="tab-riwayat" class="tab-content">
        {% include 'app_profile/riwayat.html' %}
      </div>
      <div id="tab-profile" class="tab-content">
        {% include 'app_profile/profile.html' %}
      </div>
      <div id="tab-friend" class="tab-content">
        {% include 'friend/friendtable.html' %}
      </div>
      <div id="tab-edit-profile" class="tab-content">
        {% include 'app_profile/edit_profile.html' %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
